:root {
  --border-color: black;
  --button-color: wheat;
}

.body {
  box-sizing: border-box;
}

.background {
  width: 900px;
  border-radius: 30px;
}
.fixed {
  position: absolute;
  left: 450px;
  transform: translateX(-50%);
  text-align: center;
  height: 50px;

  border-radius: 10px;
}
.playBtn {
  top: 15px;
  cursor: pointer;
  background-color: var(--button-color);
}
button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--button-color);
  cursor: pointer;
  outline: none;
  border: none;
  font-size: large;
  border: solid 3px var(--border-color, black);
}
.timer {
  top: 80px;
  background-color: white;
  border: solid 3px black;
  width: 150px;
}
span {
  font-size: 32px;
}
.counter {
  top: 145px;
  width: 50px;
  background-color: tomato;
  border-radius: 50px;
  border: solid 3px var(--border-color, black);
  color: white;
}

.field {
  display: block;
  position: absolute;
  top: 280px;
  height: 230px;
  width: 900px;
}

.bug,
.carrot {
  position: absolute;
  display: inline;
  cursor: pointer;
}

.refresher {
  display: inline-block;
  position: absolute;
  top: 300px;
  left: 450px;
  transform: translate(-50%);
  height: 100px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 32px;
  padding: 20px;
}
