.body {
  box-sizing: border-box;
}

.background {
  width: 900px;
  border-radius: 50px;
}
.fixed {
  position: absolute;
  left: 450px;
  transform: translateX(-50%);
  text-align: center;
  height: 50px;
  border: solid 3px black;
}
.play {
  top: 15px;
  width: 50px;
  border-radius: 10px;
  background-color: wheat;
  cursor: pointer;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: large;
  background: transparent;
  margin-top: 25%;
}
.timer {
  top: 80px;
  background-color: white;
  border-radius: 10px;
  width: 150px;
}
span {
  font-size: 32px;
}
.counter {
  top: 145px;
  width: 50px;
  background-color: tomato;
  border-radius: 50px;
  color: white;
}

.field {
  display: block;
  position: absolute;
  top: 280px;
  height: 230px;
  width: 900px;
}

.bug,
.carrot {
  position: absolute;
  display: inline;
  cursor: pointer;
}
